<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="cn.cas.banana.mapper.UsersMapper">
  <resultMap id="user" type="cn.cas.banana.entity.users.UserEntity">
    <id property="id" column="id"/>
    <result property="username" column="username"/>
    <result property="password" column="password"/>
    <result property="enabled" column="enabled"/>
    <collection property="authorities" ofType="cn.cas.banana.entity.users.AuthorityEntity">
      <id property="id" column="authority_id"/>
      <result property="authority" column="authority"/>
    </collection>
  </resultMap>

  <select id="count" resultType="int">
SELECT COUNT(1) FROM `users`;
  </select>

  <select id="findAll" resultMap="user"
    parameterType="cn.cas.banana.entity.PaginationParam">
SELECT u.id, u.username, u.password, enabled, a.id AS authority_id, SUBSTRING(a.authority, 6) AS authority
FROM users u LEFT JOIN authorities a
ON u.username = a.username LIMIT ${current*pageSize-pageSize}, ${pageSize};
  </select>

  <select id="findByUsername" resultMap="user" parameterType="string">
SELECT u.id, u.username, u.password, enabled, a.id AS authority_id, SUBSTRING(a.authority, 6) AS authority
FROM users u LEFT JOIN authorities a
ON u.username = a.username WHERE u.username=#{username};
  </select>
</mapper>
